* {
  box-sizing: border-box;
  max-width: 600px;
}

html {
  font-family: "Lucida Sans", sans-serif;
  justify-content: center;
  position: relative;
  max-width: 100%;
  display: flex;
}

body {
  min-height: 100vh;
  min-width: 50px;
}
/* 
main {
  align-content: center;
} */

form {
  flex-direction: column;
}

.row {
  content: "";
  clear: both;
  display: flex;
  padding: 8px;
}

.column {
  width: 50%;
}

.title {
  padding: 5px;
  text-align: center;
  margin-bottom: -20px;
}

h1 {
  font-weight: normal;
}

.inputBox {
  display: flex;
  flex-grow: 1;
  margin-inline: 10px;
}

input {
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #999;
  outline: 1px;
  /* font-weight: bold; */
  justify-items: center;
}

input:hover,
input:focus {
  border: 1px solid #4497dc;
  box-shadow: 0 0 5px #4497dc;
}

.agreeBox {
  text-align: left;
  /* padding-block: 1rem; */
  display: flex;
  align-items: center;
  width: 35%;
}

.agreement {
  margin: auto;
  color: rgb(95, 95, 95);
}

.btnRegister {
  background-color: #3b86c2;
  border: 1px solid #3b86c2;
  border-radius: 5px;
  color: white;
}

.btnSign {
  background-color: #09b631;
  border: 1px solid #09b631;
  border-radius: 5px;
  color: white;
}

.button {
  font-size: 1.1rem;
  /* padding: 0rem 12px; */
  height: 2.5rem;
  width: 100%;
  margin-inline: 10px;
}

a {
  text-decoration: none;
  color: rgb(72, 188, 255);
}
